
html {
    font-size: 10px;
    background: bottom center;
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.cases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: Calc(50vh - 20vh);
}

.case {
    border: 4px solid black;
    border-radius: 5px;
    margin: auto;
    height: 400px ;
    width: 100px;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);

    display: grid;
    grid-template-rows: 150px 1fr;
    align-items: center;
    justify-content: center;
}
