.twit_box {
    margin: 1% auto;
    width: 630px;
    height: 400px;
    border: solid 2px #000000;
    padding: 15px 30px 15px 15px;
    border-radius: 2%;
    background-color: white;
}

.twit_box:hover {
    background-color: rgb(173, 216, 230, 0.4);
}

.twit_box_cap {
    width: 530px;
    height: 70px;
    font-size: 20px;
    color: black;
    display: inline;
}

.twit_box_cap_photo img {
    border-radius: 50%;
    max-width: 60px;
    position: relative;
}

.twit_box_cap_name {
    font-family: Arial, sans-serif;
    font-size: 26px;
    position: relative;
    float: top;
    top: -100px;
    left: 75px;
}

.twit_box_cap_name img{
    max-width: 17px;
    max-height: 17px;
}

.twit_box_cap_status {
    position: relative;
    font-size: 17px;
    top: -58px;
    right: -220px;
    opacity: .7;
}
.twit_box_cap_status img {
    height: 10px;
    height: 10px;
}

.twit_box_cap_text {
    width: 570px;
    position: relative;
    font-size: 20px;
    top: -150px;
    left: 75px;
}

.twit_box_container img {
    margin-top: 50px;
    width: 90%;
    border-radius: 20px;
    position: relative;
    top: -170px;
    left: 70px;
}

.twit_box_cap_menu :hover {
    opacity: 0.5;
}